<script>
    export let data = [];
    export let radialScale;
    export let angularScale;

	// Creates a path with the cartesian coordingats given from (r*cos(\alpha), r*sin(\alpha)) for the data
	// The function takes in an array where the index is the day of the year and the valus of heating and cooling
	$: makepath = (d) => {
        let path = "M";
        d.forEach((value, idx) => {
          path += " " + radialScale(value)*Math.cos(angularScale(idx)) + "," + radialScale(value)*Math.sin(angularScale(idx));
        });
        
        return path;
      };

</script>

<path d={makepath(data)}> </path>
