<script>
    export let data = [];
    export let xScale;
    export let yScale1;
    export let yScale2;
    export let buildingHeigth
    export let tableau

    let pathGenerator1 = (d) => {
        // Starting point
		let path1 = "M 0," + yScale1(0);

        // Generate the overall path
        d.forEach((values, index) => {
			path1 += " " + xScale(index) + ',' + yScale1(values)
		})

        // Add the last and first point to close the loop 
        path1 = path1 + " " + xScale(744) + ',' + yScale1(0);
        path1 = path1 + " " + "0," + yScale1(0);
		return path1;
	}

    let pathGenerator2 = (d) => {
        // Starting point
        let path2 = "M 0," + yScale2(0);

        // Generate the overall path
        d.forEach((values, index) => {
			path2 += " " + xScale(index) + ',' + yScale2(values)
		})

        // Add the last and first point to close the loop 
        path2 = path2 + " " + xScale(744) + ',' + yScale2(0);
        path2 = path2 + " " + "0," + yScale2(0);

		return path2;
	}

</script>

{#each Object.keys(data) as building,buildingIdx}
    <g transform="translate({ 5 },{(buildingIdx*buildingHeigth)})">
        <text font-size= 50%> {building} </text>
    </g>

    <g transform="translate(0,{(buildingHeigth*buildingIdx)-30})">
        <path fill = {tableau(building)} opacity = 0.9 d={pathGenerator1(data[building])} ></path>
    </g>

    <g transform="translate(0,{(buildingHeigth*buildingIdx)+13.5})"> 
        <path fill = {tableau(building)} opacity = 0.9 d={pathGenerator2(data[building])} ></path>
    </g>
{/each}

<style>
	text {
		vertical-align: middle;
		font-size: 9px;
		font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		opacity: 0.8;
		text-decoration: underline;
	}
</style>
    