<script>
 	 import { onMount } from 'svelte'
  	import { scaleLinear } from "d3-scale";
	import { extent, max } from 'd3-array';
  	import Radial from './_design_2_radialplot.svelte';

  	let datapoints = [];
  	onMount(async() => {
	  	await fetch("/data/daily_heating_cooling.json")
		  .then(res => res.json())
		  .then(data => datapoints = data)
  	});

	// Dimensions for SVG
	const width = 800;
	const height = 400;
	const margin = { top: 10, right: 20, bottom: 20, left: 20 };
	const innerWidth = width - margin.left - margin.right;
	const innerHeight = height - margin.top - margin.bottom;
	const cityWidth = width/3;
	const maxRadius = 110;

	// Datapoints
	// 0: {city:Baltimore, month: 1, week, 0, day:1, day_of_year:1, cooling:9499.259934601798, heating:59428.96891191445}
	// 365: {city:Chicago, month: 1, week, 0, day:1, day_of_year:1, cooling:8655.370853196684, heating:42446.33362093704}

	// transformed data heating/cooling
	// {Baltimore: { [59472, 46320, 480501, ... ] // the whole year of heating
	// 		}
		// Chicago: { [59472, 46320, 480501, ...] // the whole year of heating
		// 	}
		// 	...
		// }

	let transformedDataHeating = {};
	let transformedDataCooling = {};

	$: {
		datapoints.forEach((d) => {
			if ( !(d.city in transformedDataHeating)){
				transformedDataHeating[d.city] = []
			}
			// if ( !(d.day_of_year in transformedDataHeating[d.city])){
			// 	transformedDataHeating[d.city][d.day_of_year] = {}
			// }
			transformedDataHeating[d.city].push(d.heating)

			if ( !(d.city in transformedDataCooling)){
				transformedDataCooling[d.city] = []
			}
			// if ( !(d.day_of_year in transformedDataCooling[d.city])){
			// 	transformedDataCooling[d.city][d.day_of_year] = {}
			// }
			transformedDataCooling[d.city].push(d.cooling)
		})		
	}

    // Scales
	// Converts the days of the year to a value between 0 and 2pi
	$: angularScale = scaleLinear()
		.domain(extent(datapoints.map((d) => d.day_of_year)))
		.range([0,2*Math.PI]); 

	// Converts the values of heating/cooling to a value between 0 and maximum radius
	$: radialScale = scaleLinear()
		.domain([0,max(datapoints.map((d) => d.heating))])
		.range([0,maxRadius]);
  

</script> 


<svg width = {width} height = {height+30}> 
	{#each Object.keys(transformedDataCooling) as cooling, coolIdx}
		<g transform = "translate({cityWidth*coolIdx}, 0)">
			<text class = "cities" x = {maxRadius-30} y = 40 >{cooling}</text> 
			<!-- Creates the components of the circle and lines -->
			<g transform = "translate({cityWidth/2}, {height/2})">
				<circle class = "circle" cx=0  cy=0  r = {maxRadius}></circle>
				<line x1 = {-maxRadius} x2 = {maxRadius} y1 = 0 y2 = 0> </line> <!-- x-axis -->
				<line x1 = 0 x2 = 0 y1 = {maxRadius} y2 = {-maxRadius}></line> <!-- y-axis -->
				<text x = {maxRadius+2} y = 7>3</text> 
				<text x = {-maxRadius-12} y = 7>9</text>
				<text x = -7 y = {-maxRadius-7} >12</text> 
				<text x = -5 y = {maxRadius+15} >6</text> 
			</g>
			<!-- Creates the radial plot for cooling-->
			<g class = "Cooling" transform = "translate({cityWidth/2}, {height/2})">
				<Radial data = {transformedDataCooling[cooling]} radialScale={radialScale} angularScale={angularScale}/>
			</g>
		</g>
	{/each}

	{#each Object.keys(transformedDataHeating) as heating, heatIdx}
		<g transform = "translate({cityWidth*heatIdx}, 0)">
			<!-- Creates the radial plot for heating-->
			<g class = "Heating" transform = "translate({cityWidth/2}, {height/2})">
				<Radial data = {transformedDataHeating[heating]} radialScale={radialScale} angularScale={angularScale} />
			</g>
		</g>
	{/each}
		<!-- Creates the legend -->
	{#each ["Heating", "Cooling"] as type,inx}
		<g transform = "translate({inx*100+width/2-80},{height-20})">
			<circle class = "{type}" cx = 10 cy = 10 r = 10> </circle>
			<text x = 25 y=17 > {type} </text>
		</g>
	{/each}
</svg> 

<style>
	.Heating {
		fill: salmon;
		opacity: .8;
		stroke: 1px solid;
	}

	.Cooling {
		fill: steelblue;
		opacity: .8;
	}
	.circle {
		fill: white;
    	stroke: steelblue;
    	stroke-width: 2;
	}
	.cities {
		font-family: Arial, Helvetica, sans-serif;
		font: 30px bold;
		stroke: black;
		fill: black;
		opacity: .9;
		text-align: center;
	}
	line {
		stroke: black;
		border-radius:20px ;
	  }
	text {
		stroke: black;
	}
</style>

