<script>

	// Dependencies
	import Plot from './_design_1_buildingtype.svelte'
	import { onMount } from 'svelte'
	import { scaleLinear, scaleOrdinal} from 'd3-scale'
	import { schemeTableau10 } from "d3-scale-chromatic";
	import { extent } from 'd3-array';
	
	// Size and margins
	const width =700;
	const height = 700;
	const buildingHeigth = height/16;
	const margin = { top: 10, right: 10, bottom: 10, left: 10 };
	const innerWidth = width - margin.left - margin.right;
	const innerHeight = height - margin.top - margin.bottom;
	let tableau = scaleOrdinal(schemeTableau10);
  
	// Load the data
	let datapoints = [];
	onMount(async() => {
		await fetch("./data/hourly_heating_december.json")
		.then(res => res.json())
		.then(data => datapoints = data)
	});
  
	// Transform the datat to the form of:
	// {Baltimore: {
	// 	Hospital: [values for heating]
	// 	Restaurant: [values for heating]
	// 	...
	// 	}
	// Chicago: {
	// 	Hospital: [values for heating]
	// 	Restaurant: [values for heating]
	// 	...
	// }
	// ...}

	let transformedData = {}
	$:{
	datapoints.forEach((d) =>{
		if ( !(d.city in transformedData)){
		transformedData[d.city] = {}
		}
		if ( !(d.buildingtype in transformedData[d.city])) {
		transformedData[d.city][d.buildingtype] = []
		}
		transformedData[d.city][d.buildingtype].push(d.total_heating_energy)
	})};

	// Scales y1 and y2 is symmetric around x-axis
	let xScale =  scaleLinear()
		.domain([0,744])
		.range([margin.left, innerWidth]);

	$: yScale1 = scaleLinear()
		.domain(extent(datapoints.map((d)=> d.total_heating_energy)))
		.range([buildingHeigth,0]);

	$: yScale2 = scaleLinear()
		.domain(extent(datapoints.map((d)=> d.total_heating_energy)))
		.range([0, buildingHeigth]);
	
	// The value that will pass on selected city to the data
  	let cityValue = "Baltimore";
  
  </script>
  
  
  <svg {width} {height} >
	<g transform="translate({margin.left}, {margin.top + 10})">

	  <Plot data = {transformedData[cityValue]} xScale={xScale} yScale1={yScale1} yScale2={yScale2} buildingHeigth={buildingHeigth} tableau={tableau} />
	
	</g>
  </svg>
  
  <div class = "cityButton">
	<select id="select_city" class="form-select" bind:value={cityValue}>
		<option value="Baltimore">Baltimore</option>
		<option value="Chicago">Chicago</option>
		<option value="Los Angeles">Los Angeles</option>
	</select>
  </div>

