<script>
  // Dependencies
  import { extent } from 'd3-array';
  import { onMount } from 'svelte'
  import { scaleLinear } from 'd3-scale' 

  // Load the data from static/data
  let datapoints = [];
	onMount(async() => {
		await fetch("./data/hourly_electricity_vs_gas_december.json")
		.then(res => res.json())
		.then(data => datapoints = data)
	});

  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const leafHeight = height/5 - 20;

  // Create the dataset for Gas
  let transformedDataGas = {};
	$: {
		datapoints.forEach((d) => {
			if ( !(d.week in transformedDataGas)){
				transformedDataGas[d.week] = []
			}
			transformedDataGas[d.week].push(d.total_gas)
		})		
	}

  // Create the dataset for electricity
  let transformedDataElectricity = {};
	$: {
		datapoints.forEach((d) => {
			if ( !(d.week in transformedDataElectricity)){
				transformedDataElectricity[d.week] = []
			}
			transformedDataElectricity[d.week].push(d.total_electrity)
		})		
	}

  // The scales for the leaf to the right, the left and the scales for electricity and gas
  $: leftScale =  scaleLinear()
		.domain([0,7*24-1])
		.range([width/2, margin.left]);

  $: rightScale =  scaleLinear()
		.domain([0,7*24-1])
		.range([width/2, innerWidth]);

	$: yScaleElectricity = scaleLinear()
		.domain(extent(datapoints.map((d) => d.total_electrity)))
		.range([leafHeight/2,0]);

	$: yScaleGas = scaleLinear()
		.domain(extent(datapoints.map((d) => d.total_gas)))
		.range([leafHeight/2, leafHeight]);



  // Path generators
  let pathGeneratorElRight = (d) => {
    // Starting point
    let pathElRight = "M" + rightScale(0) + ',' + yScaleElectricity(0);

    // Generate the overall path
    d.forEach((values, index) => {
    pathElRight += " " + rightScale(index) + ',' + yScaleElectricity(values)
    })

    // Add the last and first point to close the loop 
    pathElRight += " " + rightScale(365) + ',' + yScaleElectricity(0);
    pathElRight += " " + rightScale(0) + ',' + yScaleElectricity(0);
  return pathElRight;
	}

  let pathGeneratorElLeft = (d) => {
    // Starting point
    let pathElLeft = "M" + leftScale(0) + ',' + yScaleElectricity(0);

    // Generate the overall path
    d.forEach((values, index) => {
    pathElLeft += " " + leftScale(index) + ',' + yScaleElectricity(values)
    })

    // Add the last and first point to close the loop 
    pathElLeft += " " + leftScale(365) + ',' + yScaleElectricity(0);
    pathElLeft += " " + leftScale(0) + ',' + yScaleElectricity(0);
  return pathElLeft;
	}

  let pathGeneratorGasRight = (d) => {
    // Starting point
    let pathGasRight = "M" + rightScale(0) + ',' + yScaleGas(0);

    // Generate the overall path
    d.forEach((values, index) => {
    pathGasRight += " " + rightScale(index) + ',' + yScaleGas(values)
    })

    // Add the last and first point to close the loop 
    pathGasRight += " " + rightScale(365) + ',' + yScaleGas(0);
    pathGasRight += " " + rightScale(0) + ',' + yScaleGas(0);
  return pathGasRight;
	}
  
  let pathGeneratorGasLeft = (d) => {
    // Starting point
    let pathGasLeft = "M" + leftScale(0) + ',' + yScaleGas(0);

    // Generate the overall path
    d.forEach((values, index) => {
    pathGasLeft += " " + leftScale(index) + ',' + yScaleGas(values)
    })

    // Add the last and first point to close the loop 
    pathGasLeft += " " + leftScale(365) + ',' + yScaleGas(0);
    pathGasLeft += " " + leftScale(0) + ',' + yScaleGas(0);
  return pathGasLeft;
	}


</script>

<svg {width} {height}>

  <!-- Here we print gas -->
  <g transform="translate({margin.left}, {margin.top})">
    {#each Object.keys(transformedDataGas) as weeks, weekIdx}
      <g transform = "translate(0,{weekIdx*leafHeight+160})">
        {#if weekIdx % 2 == 0}
          <g transform = "rotate(-20)">
          <path class = "gas" d = {pathGeneratorGasRight(transformedDataGas[weeks])}> </path>
          </g>
        {:else}
          <g transform = "translate(30,{-leafHeight-60}) rotate(20)">
          <path class = "gas" d = {pathGeneratorGasLeft(transformedDataGas[weeks])}> </path>
          </g>
        {/if}
      </g>
    {/each}
  </g>

  <!-- Here we print electricity -->
  <g transform="translate({margin.left}, {margin.top})">
    {#each Object.keys(transformedDataElectricity) as weeks_el, week_elIdx}
      <g transform = "translate(0,{week_elIdx*leafHeight+150})">
        {#if week_elIdx % 2 == 0}
          <g transform = "rotate(-20)">
          <path class = "el" d={pathGeneratorElRight(transformedDataElectricity[weeks_el])}> </path>
          </g>
        {:else}
          <g transform = "translate(30,{-leafHeight-60}) rotate(20)">
          <path class = "el" d={pathGeneratorElLeft(transformedDataElectricity[weeks_el])}> </path>
          </g>
        {/if}
      </g>
    {/each}
  </g>
  <g class = "line" transform="translate({width/2+margin.left},0)">
    <line x1 = 0 x2 = 0 y1 = 0 y2 = {height}/>
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  .gas {
    fill: yellow;
    opacity: .9;
  }
  .el {
    fill: blue;
    opacity: .7;
  }
  line {
    stroke: black;
    stroke-width: 3;
    opacity: .5;
  }
</style>
