<style>
    p {
        font-size:14xp;
        font-style:italic;
        color:steelblue;
        font-family: "Times New Roman", Times, serif;
    }

    .a {color:red}
</style>

<p> I <span class="a"> really </span> like data visualisation! </p>
