<script>
    const me = {name:"Mauritz Kööhler", favorit1: "go to the gym", favorit2: "hang out with firends"};
</script>

<p> 
    My name is {me.name} and these are some of my favourite things: {me.favorit1} and {me.favorit2}
</p>

