<script>

  // Properties
  export let data = [];
  const continents = ["europe", "asia", "americas", "africa"];
  
  export let year = 0;
  $: text = "Start";
  let start = true;


  // Year function
  function incYear() {
    year += 1;
    if (year > 215) {year = 0;}
  }

  // Function for button
  function clickButton() {
    if (start = true) {
      start = false;
      text = "Stop";
      intervId = setInterval(incYear,100);
    }
    else {
      start = true;
      text = "Start";
      clearInterval(intervId);
    }
  }

  // function for reset button
  function resetButton() {
    text = "Start";
    start = true;
    clearInterval(intervId);
  }

  // Slider
  // function onSliderChange() {
  //   yearIndex = slider_value - minYear;
  //   dispatch('yearChange' {year})
  // }

  // 

</script>

<div class="row">
  <!--  The Start/Stop button and Reset button -->
  <button type="startStop" class="btn btn-primary" on:click={clickButton}> {text} </button>
  <button type="restart" class="btn btn-primary" on:click={resetButton}> Reset </button>

  <!--  The slider -->
  <!-- <input type="range" min="0" max="215" bind:value={onSliderChange} /> -->

</div>
