<script>
    let count = 0;
    
    function handleClick() {
        count += 1;
    }

    function resetClick() {
        count = 0;
    }
</script>

<div> 

<button type="button" class="btn btn-primary" on:click={handleClick}> Push me! </button>
<buttun type = "button" class = "btn btn-danger" on:click={resetClick}> Reset </buttun>
<p> You have clicked the button: {count} times </p>

</div>

<style>
    div {
        text-align: center;
    }
</style>