<script>

  import * as d3 from 'd3'
  import { onMount } from 'svelte';

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];
  
  let xScale = d3.scaleLinear()
    .domain([innerWidth / 2 + 60, innerWidth / 2 - 60])
    .range([350, 450]);

  // All lights with a higher index are on!
  let index = points.length;

  // Creates a function that reduces the index every 1000 millisecond.
  // Should end when index reach -1
  onMount(
    setInterval(() => {
      index = index-1;
      if (index == -1) {clearInterval()}
      },1000)
    );

  // Color
  let color = "darkred";

  // Controlls the color depending on the index
  $: if (index==-1) {color = "darkgreen";}

</script>


<svg viewBox="0 0 {width} {height}">

  <g transform="translate({margin.left},{margin.top})">
    {#each points as values, i}
      <circle
            cx = {xScale(values)}
            cy = 45%
            r = 10
            fill={color}
            opacity={i < index ? 0.3 : 1} >
    </circle>
    {/each}
    </g>
</svg>

