<script>
  import * as d3 from 'd3'
  import { axisLeft, max, scaleLinear } from 'd3';
  import { text } from 'svelte/internal';

  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  export let dataframe = [];

  let x_scale = d3.scaleLog()
    .domain([300, 100000])
    .range([margin.left, innerWidth]);

  let y_scale = scaleLinear()
    .domain([0, 90])
    .range([innerHeight, margin.top]);

  let radius_scale = d3.scaleLog()
    .domain([1, 100000000])
    .range([1,10]);

  let x_axis = d3.axisBottom(x_scale)
    .ticks(3);

  let y_axis = d3.axisLeft(y_scale);

  function printXAxis(element) {
  x_axis(d3.select(element))
  }

  function printYAxis(element) {
  y_axis(d3.select(element))
  }

  let tableau = d3.scaleOrdinal(d3.schemeTableau10);

</script>

<svg width = {width} height = {height} viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g class = "cirlces" transform="translate({margin.left}, {margin.top})">
    {#each dataframe as datapoint, i}
      {#if datapoint.income & datapoint.life_exp}
       <circle cx={x_scale(+datapoint.income)}
                cy={y_scale(+datapoint.life_exp)}
                r= {radius_scale(datapoint.population)}
                style={"fill:" + tableau(datapoint.continent)} />
      {/if}
  {/each}
    <g use:printXAxis transform = "translate(0,{innerHeight})"> 
      <text x = 50% y = 30 class = "axis" > GDP per Capita </text>
      <text x = {x_scale(40000)} y = -15 class = "year" > 1800 </text>
    </g>
    <g use:printYAxis transform = "translate({margin.left},0)" >
      <text x= -120 y = -30 class = "rotate"> Life Expectancy </text> 
    </g>
    <g class = "title"> 
      <text x = "20%" y = {y_scale(90)}> Gapminder Scatterplot </text> 
    </g>
  </g>
</svg>

<style>
  circle {
    opacity: 0.75;
  }
  .axis {
    font-family: Arial, Helvetica, sans-serif;
    stroke: black;
    fill: black;
    opacity: .9;
    font-size: 15px;
  }

  .rotate {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg); 
    font-family: Arial, Helvetica, sans-serif;
    stroke: black;
    fill: black;
    opacity: .9;
    font-size: 15px;   
  }
  .title {
    font-family: Arial, Helvetica, sans-serif;
    font: 40px bold;
    stroke: black;
    fill: black;
    opacity: .9;
  }
  
  .year {
    font-family: Arial, Helvetica, sans-serif;
    stroke: black;
    fill: black;
    opacity: .5;
    font-size: 55px;
  }

</style>