<script>
  const width = 100;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const center = 45;
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <!--  -->
    <rect x = 0 y = 0 height = 40 width = 40 transform = "translate({center-20}, {center-20})"/>
    <circle cx = 0 cy =0 r=20 transform = "translate({center + 20}, {center + 20})"/> 
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  rect {
    fill: yellow;
  }

  circle {
    fill: skyblue;
  }
</style>
