<script>
  import * as d3 from 'd3';

  // Array
  const values = [2, 4, 6, 7, 9];
  
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // // Creating the constants for d3
  let logscale = d3.scaleLog()
    .domain([1,10])
    .range([0,innerWidth]);

  let axis = d3.axisBottom(logscale);

  function printAxis(element) {
    axis(d3.select(element))
  }

</script>

<svg viewBox="0 0 {width} {height}">
  <g class = "logcircles" transform="translate({margin.left},{margin.top - 10})">
      {#each values as number}
      <circle cx = {logscale(number)} cy = 50% r = 10 />
      {/each}
      <g class = "axis" use:printAxis transform="translate({margin.left},{height-15})"> 
        <text x = 50% y =15> x-axis </text>
      </g>
  </g>
  
  
</svg>

<style>
  circle {
    fill: steelblue;
  }
  text {
    stroke: currentColor;
  }
</style>
