<script>
  import { onMount } from 'svelte';
  import * as d3 from 'd3';

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  let x_scale = d3.scaleLinear()
    .domain([0,10])
    .range([margin.left, innerWidth]);
  
  let y_scale = d3.scaleLinear()
    .domain([0,4])
    .range([margin.top, innerHeight]);

  let tableau = d3.scaleOrdinal(d3.schemeTableau10);

</script>

<svg viewBox="0 0 {width-10} {height+40}">
  <g class = "poop" transform="translate({margin.left},{margin.top})">
    {#each values as datapoint}
      <circle cx={x_scale(datapoint.x)}
              cy={y_scale(datapoint.y)}
              r=10
              style={"fill:" + tableau(datapoint.category)} />
  {/each}
  </g>
  <g class = 'myLines' transform="translate({margin.left},{margin.top})">
    {#each values as points}
      <line x1 = {x_scale(points.x)}
            y1 = {y_scale(points.y)+10}
            x2 = {x_scale(points.x)}
            y2 = {height} />
    {/each}
  </g>
  <g class = 'baseline' transform="translate({margin.left},{margin.top})"> 
    <line x1 = {x_scale(0)}
          x2 = {x_scale(10)}
          y1 = {height}
          y2 = {height}
    />
  </g>
  <g class = 'text' transform="translate({margin.left},{margin.top})">
    {#each values as datapoint}
      <text x = "{x_scale(datapoint.x)}"
            y = "{y_scale(datapoint.y)-15}" >
        {datapoint.y}
      </text>
    {/each}
  </g>
</svg>

<style>
  line {
    stroke: grey;
  }
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
