<script>

  import * as d3 from 'd3';
  import { max, min, scaleBand, scaleLinear } from 'd3';

  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  // Creating the axis
  const xTicks = ["Netflix", "Amazon Prime Video", "Disney+", "Hulu","Apple TV", "Rakuten"];
	const yTicks = [0.0, 0.2, 0.4, 0.6, 0.8, 1.0, 1.2, 1.4, 1.6, 1.8, 2.0, 2.2, 2.4, 2.6, 2.8, 3.0];

  let barWidth = innerWidth / xTicks.length;

  let x_scale = scaleBand()
    .domain(xTicks)
    .range([margin.left, innerWidth]);

  let y_scale = scaleLinear()
    .domain([0, Math.max.apply(null, yTicks)])
    .range([innerHeight , margin.top]);

  let x_axis = d3.axisBottom(x_scale)

  let y_axis = d3.axisLeft(y_scale)

  function printXAxis(element) {
  x_axis(d3.select(element))
  }

  function printYAxis(element) {
  y_axis(d3.select(element))
  }

</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px" >
  <g class='bars'>
    {#each data as point, i}
      <rect
        x="{x_scale(point.service)}"
        y="{y_scale(point.viewers)}"
        width="{barWidth-20}"
        height="{y_scale(0) - y_scale(point.viewers)}"
      ></rect>
    {/each}
    
    <g use:printXAxis class = "x-axis" transform = "translate(0,{innerHeight})">
    </g>
  </g>
  <g use:printYAxis class = "y-axis" transform = "translate({margin.left},0)">
      
  </g>
</svg>

<style>

  .bars rect {
		fill: steelblue;
	}
</style>