<script>
    import Scatterplot from "./_ex_7_scatterplot.svelte"
    import { onMount } from 'svelte';
    import { json } from "d3-fetch";

    let Data = null;

    onMount(async () => {
    Data = await json('/data/gapminder.json');
    });

</script>

<div>
    {#if Data == null}
        <p>The data is being loaded</p>
    {:else}
        <Scatterplot dataframe={Data[0].countries}/>
    {/if}
</div>

